<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 抽出対象のwordファイルを格納しているディレクトリ -->
    <add key="target_dir" value="D:\work\wordImage_word" />
    <!-- wordから抽出した画像ファイルを格納するディレクトリ -->
    <add key="image_dir" value="D:\work\wordImage_image" />
  </appSettings>
</configuration>